.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
  align-items: center;
  min-height: 90vh;
  padding: 120px;
}

.hero__image {
  box-shadow: 10px -10px 0px #6B856F;
}
