@import "variables";
@import "mixins";


// Typography
.text--intro {
  font-size: 1.1em;
}

// Section HERO
.hero {
  display: grid;
  grid-template-columns: 60% 40%;
  border-bottom: $base-border;
}

.hero__image {
  border-left: $base-border;
}

.hero__content {
  padding: $grid-gutter * 4;
  @extend .text--intro;
}

.hero__shopify {
  margin-top: $grid-gutter * 2;
  display: block;
}



// Section WORK
.work {
  width: 100%;
  height: 100vh;
  display: flex;
}

.work__title {
  border-right: $base-border;
  width: 90px;
  height: 100%;
  display: flex;
  align-items: center;
}

.work__title h2 {
  transform: rotate(-90deg);
}

.work-article {
  margin-bottom: $grid-gutter * 4;
}

.work-article img {

}

@include media-query($medium-up) {

  .work-article {
    background: $color-bg-light;
    box-shadow: inset 0 $grid-gutter * 2 0 0 #fff;
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: center;
    grid-gap: $grid-gutter;
    margin-bottom: $grid-gutter * 4;
  }
}
