@import "variables";
@import "mixins";


// Typography
.text--intro {
  font-size: 1.1em;
}

a {
  color: inherit;
}

// Header
.siteHeader {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  padding: $grid-gutter;
}

.siteLogo {
  height: 30px;
  width: auto;
  display: block;
}

// Footer
.siteFooter {
  border-top: $base-border;
  padding: $grid-gutter;
}

// Section HERO
.hero__image {
  border-top: $base-border;
  border-bottom: $base-border;
}

.hero__content {
  padding: $grid-gutter * 4 $grid-gutter $grid-gutter * 2 $grid-gutter;
  @extend .text--intro;
}

.hero__shopify {
  display: inline-block;
  margin-top: $grid-gutter / 2;
}

@media screen and (min-width: 46.85em) {
  .hero {
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: $base-border;
  }

  .hero__content {
    padding: $grid-gutter * 4 $grid-gutter * 3;
  }

  .hero__image {
    border-top: 0;
    border-bottom: 0;
    border-left: $base-border;
    order: 1;
  }
}
