@import "variables";
@import "mixins";


// Typography
.text--intro {
  font-size: 1.1em;
}

// Header
.site-header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  padding: $grid-gutter;
}

.site-logo {
  height: 30px;
  width: auto;
  display: block;
}

// Section HERO
.hero__image {
  border-top: $base-border;
  border-bottom: $base-border;
}

.hero__content {
  padding: $grid-gutter * 4 $grid-gutter $grid-gutter * 2 $grid-gutter;
  @extend .text--intro;
}

.hero__shopify {
  display: inline-block;
  margin-top: $grid-gutter / 2;
}

@include media-query($medium-up) {
  .hero {
    display: grid;
    grid-template-columns: 60% 40%;
    border-bottom: $base-border;
  }

  .hero__content {
    padding: $grid-gutter * 4 $grid-gutter * 3;
  }

  .hero__image {
    border-top: 0;
    border-bottom: 0;
    border-left: $base-border;
    order: 1;
  }
}



// Section WORK
.work {
  width: 100%;
  height: 100vh;
  display: flex;
}

.work__title {
  border-right: $base-border;
  width: $grid-gutter * 3;
  height: 100%;
  display: flex;
  align-items: center;
}

.work__title h2 {
  transform: rotate(-90deg);
}

.work-article {
  margin-bottom: $grid-gutter * 4;
}

.work-article img {

}

@include media-query($medium-up) {

  .work-article {
    background: $color-bg-light;
    box-shadow: inset 0 $grid-gutter * 2 0 0 #fff;
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: center;
    grid-gap: $grid-gutter;
    margin-bottom: $grid-gutter * 4;
  }
}
