---
import "@fontsource-variable/inter";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Dries Pieters | Shopify Front-end developer</title>
    <meta
      name="description"
      content="Shopify front-end developer boasting over a decade of expertise. I craft extraordinary online experiences, helping start-ups and established brands with their e-commerce strategy."
    />
    <script
      defer
      data-domain="driespieters.com"
      src="https://plausible.io/js/script.js"></script>
  </head>
  <body class="bg-body text-primary antialiased">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<script>
  // Add JS class to document
  document.documentElement.className =
    document.documentElement.className.replace("no-js", "js");
</script>

<script>
  import { animate, scroll, inView } from "motion";

  // General Inview animations
  inView(
    '[data-motion="up"],[data-motion="left"],[data-motion="fade"]',
    (info) => {
      animate(info.target, { opacity: 1 }, { delay: 0.5, duration: 0.9 });
    }
  );
  // Specific Element animations (index)
  const featuredWork = document.querySelectorAll(
    '[data-motion="featuredwork"]'
  );
  if (featuredWork) {
    scroll(animate(featuredWork, { opacity: [0.25, 1] }), {
      offset: ["start start", "center center"],
    });
  }
</script>

<style is:global>
  details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
    display: none;
  }
  /* Animations */
  .js [data-motion="fade"] {
    opacity: 0;
  }

  .js [data-motion="up"] {
    transform: translateY(50px);
    opacity: 0;
  }

  .js [data-motion="left"] {
    transform: translateX(-50px);
    opacity: 0;
  }

  /* Links */
  .link {
    letter-spacing: 0.025em;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    border-bottom: 1px solid currentColor;
    line-height: 150%;
    position: relative;
    z-index: 1;
    -webkit-transition:
      color 0.25s,
      border-color 0.25s;
    -o-transition:
      color 0.25s,
      border-color 0.25s;
    transition:
      color 0.25s,
      border-color 0.25s;
  }

  .link--noline {
    border-bottom-color: transparent;
  }

  .link:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #4566e3;
    -webkit-transform-origin: 0 50%;
    -ms-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
    -webkit-transition:
      opacity 0.25s,
      -webkit-transform 0ms 0.25s;
    transition:
      opacity 0.25s,
      -webkit-transform 0ms 0.25s;
    -o-transition:
      transform 0ms 0.25s,
      opacity 0.25s;
    transition:
      transform 0ms 0.25s,
      opacity 0.25s;
    transition:
      transform 0ms 0.25s,
      opacity 0.25s,
      -webkit-transform 0ms 0.25s;
    z-index: -1;
  }

  .link:hover {
    color: #4566e3;
    border-color: hsla(0, 0%, 9%, 0.001);
    -webkit-transition:
      color 0.5s,
      border-color 0.25s;
    -o-transition:
      color 0.5s,
      border-color 0.25s;
    transition:
      color 0.5s,
      border-color 0.25s;
  }

  .link:hover:after {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
    -webkit-transition:
      opacity 0ms,
      -webkit-transform 0.25s 0.25s;
    transition:
      opacity 0ms,
      -webkit-transform 0.25s 0.25s;
    -o-transition:
      transform 0.25s 0.25s,
      opacity 0ms;
    transition:
      transform 0.25s 0.25s,
      opacity 0ms;
    transition:
      transform 0.25s 0.25s,
      opacity 0ms,
      -webkit-transform 0.25s 0.25s;
  }

  .link--current:hover {
    color: currentColor;
  }
  .link--current:after {
    border-bottom: 1px solid currentColor;
  }

  /* RTE */
  .rte p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .rte p:first-child {
    margin-top: 0rem;
  }

  .rte p:last-child {
    margin-bottom: 0rem;
  }

  .rte ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style: disc;
    padding-left: 1rem;
  }

  .rte a {
    color: var(--color-accent);
    text-decoration: underline;
  }
</style>
